html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.one {
  width:100% ;
  height: 100vh;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  background-position: center; 
}

.two {
  width:100% ;
  height: 100vh;
  background: url(../images/bg-2.png) no-repeat;
  background-size: cover;
  background-position: center; 
}

.three {
  width:100% ;
  height: 100vh;
  background: url(../images/bg3.png) no-repeat;
  background-size: cover;
  background-position: center; 
}

.bans {
  background-color: white;
}

.landing {
  position: relative;
  color: white;
}

.splash {
  height: 100%;
  width: 100%;
  display: flex;
}

.lct {
  white-space: nowrap;
}

.location-bg {
  width:100% ;
  height: 10rem;
  background: url(../images/locationbg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.stack {
  position: absolute;
  top: 150px;
  left: 150px;
}

.big, .intro-bg{
  color: black;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 2.5rem;
}

.phg {
  position: absolute;
  top: 300px;
  left: 125px;
  background-color: transparent;
  border: 5px solid rgba(100, 157, 200, 0.4);
  color: white;
  font-weight: bold;
}

.teal {
  color: #016193;
  letter-spacing: 0.06em;
}

.dark {
  color: black;
}

#hidden {
  display: none;
}

#btnHide {
  display: none;
  border: none;
}

#btnHide:focus {
  outline: none;
  box-shadow: none;
}

#btnShow:focus {
  outline: none;
  box-shadow: none;
}

.box {
  position: absolute;
  top: 58px;
  left: -40px;
}

.small, .intro-sm {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.navbar {
  height: 10%;
}

.brand {
  color: white;
  background:  #016193;
  font-size: 2rem;
  text-align: center;
  position: relative;
  z-index: 999;
}
.brand:hover {
  text-decoration: none;
  color: white;
}

.navbar-toggler {
  float: right;
}

.navbar .active {
  border-bottom: 4px solid rgba(100, 157, 200, 0.4);
}

.size {
  width: 49px;
  height: 49px;
}

#gallery-wrapper {
  text-align: -webkit-center;
}

.full {
  width: 100%;
}

.mobile {
  display: none;
}

.close {
  position: absolute;
  top: 5%;
  right: 8%;
}

.fade {
  background: rgba(0, 0, 0, 0.88);
}

.form-control {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
}

.sendBtn {
  background: #016193;
  color: white;
  border-radius: 0;
}

.sendBtn:hover {
  border: 1px solid #016193;
  color: #016193;
  background: white;
  border-radius: 0;
}

footer {
  border-top:  4px solid rgba(100, 157, 200, 0.4);
}

.pulse:hover{
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  } 

.sm-brand{
  background-color: #016193;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.boxe {
  position: relative;
  top: 18px;
  left: -95px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 450px) {
  .mobile {
    display: block;
    width: 100%;
    text-align: -webkit-center;
  }
  
  #mobi-hidden {
    display: none;
  }
  #gallery-wrapper {
    display: none;
  }
  #gallery-list {
    display: block;
    text-align: center;
  }
  .location-bg {
    width:100% ;
    height: 5rem;
  }
  .intro-sm {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .intro-bg{
    font-weight: 500;
    font-size: 2rem;
  }
  /* .footer {
    display: block;
    text-align: center;
  } */
}

@media (min-width: 992px) {
  .navbar-toggler {
      display: none;
    }
  }
  
  .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-grid div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #016193;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
